h1 {text-align: center; background-color: coral;} 

p {text-align: center;} 

                    body {
                        margin: 0px;
                        background-color: bisque;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100vh;
                        
                    }

            .container {display: flex;
                        background-color: lightgreen;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 10px 10px 10px grey;
                        border-radius: 10px;
                        width: 50vw;
                       }

            .content {margin: 0px;
                 text-align: left;
                 display: flex;
                 flex-direction: column;
                 padding: 5px;
                     }
@media screen and (min-width: 400px){
.signup_container{
  width: 350px;
        }
    }
                    
                    @media screen and (orientation: landscape){
                        .signup_container{
                            width: 300px;
                        }
                    }